<ion-checkbox id="chck">DAY 1</ion-checkbox>
<ion-checkbox id="chck1">DAY 2</ion-checkbox>
<ion-checkbox id="chck2">DAY 3</ion-checkbox>
<ion-checkbox id="chck3">DAY 4</ion-checkbox>
<ion-checkbox id="chck4">DAY 5</ion-checkbox>
<ion-checkbox id="chck5">DAY 6</ion-checkbox>
<ion-checkbox id="chck6">DAY 7</ion-checkbox>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title> 
    </ion-toolbar>
  </ion-header> 
  <ion-content class="ion-padding">
    <ion-icon name="newspaper-outline"></ion-icon>
      Create
      <br>
      <ion-icon name="list-outline"></ion-icon>
      List
      <br>
      <ion-icon name="trash-outline"></ion-icon>
      Trash
      <br>
      <ion-icon name="videocam-outline"></ion-icon>
      Vlogs
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Trash</ion-title>
    </ion-toolbar>
  </ion-header> 
</div>
<div id="bttn">
  <ion-footer>
  <ion-button>Close</ion-button>
</ion-footer>
</div>


