#context-menu-trigger {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-800%);
    margin: 20%;
    
  }
  #context-menu {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-500%);
    margin: 20%;
    
  }
  #bttn {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(520%);
    
  }
  #chck {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-1200%);
    
  }
  #chck1 {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-1000%);
    
  }
  #chck2 {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-800%);
    
  }
  #chck3 {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-600%);
    
  }
  #chck4 {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-400%);
    
  }
  #chck5 {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-200%);
    
  }
  #chck6 {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(0%);
    
  }
  #context-menu-trigger {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-800%);
    margin: 20%;
    
  }
  #context-menu {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-500%);
    margin: 20%;
    
  }
  #bttn {
    text-align: bottom;
  
    position: absolute;
    left: 0;
    right: 80%;
    top: 50%;
    transform: translateY(520%);
    
  }