
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Simple Diary App 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Diary App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="assets/picpic.jpg" alt="Simple-Diary" />
      <ion-card-header>
        <ion-card-title><h5> CREATE YOUR DIARY NOW!</h5></ion-card-title>
        <ion-card-subtitle>Feel free to use this app because you're safe here!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="newspaper-outline"></ion-icon>
      Create
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="list-outline"></ion-icon>
      List
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="trash-outline"></ion-icon>
      Trash
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="videocam-outline"></ion-icon>
      Vlogs
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
